<form [formGroup]="profileForm" class="profile-form">
  <mat-form-field>
    <input matInput [placeholder]="'form.placeholder.email' | translate" formControlName="emailFormControl">
    <mat-error *ngIf="profileForm.get('emailFormControl').hasError('required')" translate>
      form.error.required
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput [placeholder]="'form.placeholder.password' | translate" formControlName="passwordFormControl" type="password">
    <mat-error *ngIf="profileForm.get('passwordFormControl').hasError('required')" translate>
      form.error.required
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput [placeholder]="'form.placeholder.name' | translate" formControlName="nameFormControl">
    <mat-error *ngIf="profileForm.get('nameFormControl').hasError('required')" translate>
      form.error.required
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput [placeholder]="'form.placeholder.address' | translate" formControlName="addressFormControl">
    <mat-error *ngIf="profileForm.get('addressFormControl').hasError('required')" translate>
      form.error.required
    </mat-error>
  </mat-form-field>
  <span translate [translateParams]="{loyaltyPoints: loyaltyPoints}">client.loyaltyPoints</span>
  <button mat-raised-button color="primary" [disabled]="profileForm.invalid" (click)="editProfile()"><span translate>form.editProfile</span></button>
</form>
