<form [formGroup]="loginForm">
  <mat-form-field>
    <input matInput [placeholder]="'form.placeholder.email' | translate" formControlName="emailFormControl">
    <mat-error *ngIf="loginForm.get('emailFormControl').hasError('required')" translate>
      form.error.required
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput [placeholder]="'form.placeholder.password' | translate" formControlName="passwordFormControl" type="password">
    <mat-error *ngIf="loginForm.get('passwordFormControl').hasError('required')" translate>
      form.error.required
    </mat-error>
  </mat-form-field>
  <button mat-raised-button color="primary" [disabled]="loginForm.invalid" (click)="login()"><span translate>form.login</span></button>
</form>
