<form [formGroup]="modifyForm">
    <mat-form-field>
      <input matInput [placeholder]="'form.placeholder.table' | translate" formControlName="tableFormControl">
      <mat-error *ngIf="modifyForm.get('personFormControl').hasError('required')" translate>
        form.error.required
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput [owlDateTime]="datePicker" [owlDateTimeTrigger]="datePicker" [placeholder]="'form.placeholder.time' | translate" formControlName="dateFormControl" readonly>
      <owl-date-time #datePicker></owl-date-time>
    </mat-form-field>
    <mat-form-field>
      <input matInput [placeholder]="'form.placeholder.person' | translate" formControlName="personFormControl">
      <mat-error *ngIf="modifyForm.get('personFormControl').hasError('required')" translate>
        form.error.required
      </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput [placeholder]="'form.placeholder.duration' | translate" formControlName="durationFormControl">
      <mat-error *ngIf="modifyForm.get('durationFormControl').hasError('required')" translate>
        form.error.required
      </mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="modifyReservation()"><span translate>form.modifyReservation</span></button>
  </form>
  