.form-button {
  margin-top: 32px;
}

.results-title {
  margin: 32px;
  font-size: 22px;
  font-weight: bold;
}

.result {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 500px;
  margin-top: 12px;
}