<form [formGroup]="searchForm">
  <mat-form-field>
    <input matInput [owlDateTime]="picker" [owlDateTimeTrigger]="picker" formControlName="dateFormControl" [placeholder]="'form.placeholder.time' | translate" readonly>
    <owl-date-time #picker></owl-date-time>
  </mat-form-field>
  <mat-form-field>
    <input matInput [placeholder]="'form.placeholder.person' | translate" formControlName="personFormControl">
    <mat-error *ngIf="searchForm.get('personFormControl').hasError('required')" translate>
      form.error.required
    </mat-error>
  </mat-form-field>
  <mat-form-field>
    <input matInput [placeholder]="'form.placeholder.duration' | translate" formControlName="durationFormControl">
    <mat-error *ngIf="searchForm.get('durationFormControl').hasError('required')" translate>
      form.error.required
    </mat-error>
  </mat-form-field>
  <button class="form-button" mat-raised-button color="primary" [disabled]="!searchForm.valid" (click)="search()"><span translate>form.search</span></button>
</form>
<div *ngIf="isSearched">
  <span class="results-title" translate>client.searchResults</span>
  <div *ngFor="let result of results" class="result">
    <span translate [translateParams]="{seats: result.seats}">client.seats</span>
    <button mat-raised-button color="primary" (click)="makeReservation(result.tableId)"><span translate>form.makeReservation</span></button>
  </div>
</div>
