@import 'variables';

:host {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100vw;
  height: 100px;
  background: $szarhazi-red;
}

.button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  
  &--waiter, &--admin {
    width: 30%;
  }

  &--client {
    width: 50%;
  }
}
