<div *ngIf="(clientLoggedIn | async)" class="button-container button-container--client">
  <button mat-raised-button color="primary" [routerLink]="['/client/profile']" routerLinkActive="router-link-active"><span
      translate>navbar.client.profile</span></button>
  <button mat-raised-button color="primary" [routerLink]="['/client/order']" routerLinkActive="router-link-active"><span
      translate>navbar.client.order</span></button>
  <button mat-raised-button color="primary" [routerLink]="['/client/make-reservation']" routerLinkActive="router-link-active"><span
      translate>navbar.client.makeReservation</span></button>
  <button mat-raised-button color="primary" [routerLink]="['/client/my-reservations']" routerLinkActive="router-link-active"><span
      translate>navbar.client.reservations</span></button>
  <button mat-raised-button color="primary" [routerLink]="['/client/order-history']" routerLinkActive="router-link-active"><span
      translate>navbar.client.orderHistory</span></button>
  <button mat-raised-button color="primary" (click)="logout()"><span translate>navbar.logout</span></button>
</div>
<div *ngIf="(waiterLoggedIn | async)" class="button-container button-container--waiter">
  <button mat-raised-button color="primary" [routerLink]="['/waiter/profile']" routerLinkActive="router-link-active"><span
      translate>navbar.waiter.profile</span></button>
  <button mat-raised-button color="primary" [routerLink]="['/waiter/reservations']" routerLinkActive="router-link-active"><span
      translate>navbar.waiter.reservations</span></button>
  <button mat-raised-button color="primary" [routerLink]="['/waiter/orders']" routerLinkActive="router-link-active"><span
      translate>navbar.waiter.orders</span></button>
  <button mat-raised-button color="primary" (click)="logout()"><span translate>navbar.logout</span></button>
</div>
<div *ngIf="(adminLoggedIn | async)" class="button-container button-container--admin">
  <button mat-raised-button color="primary" [routerLink]="['/admin/register-waiter']" routerLinkActive="router-link-active"><span
      translate>navbar.admin.registerWaiter</span></button>
  <button mat-raised-button color="primary" [routerLink]="['/admin/waiters']" routerLinkActive="router-link-active"><span
      translate>navbar.admin.waiters</span></button>
  <button mat-raised-button color="primary" (click)="logout()"><span translate>navbar.logout</span></button>
</div>
