<span>{{reservation.time | date: 'short'}}</span>
<span>{{reservation.duration}}</span>
<span>{{reservation.personNumber}}</span>
<span>{{reservation.status}}</span>
<button mat-raised-button color="primary" (click)="routeToModify()" routerLinkActive="router-link-active"><span translate>waiter.modifyReservation</span></button>
<button *ngIf="reservation.status === 'Pending'" mat-raised-button color="primary" (click)="confirmReservation()"><span translate>waiter.confirmReservation</span></button>
<button mat-raised-button color="warn" (click)="deleteReservation()"><span translate>waiter.deleteReservation</span></button>